.gradientText {
    background: -webkit-linear-gradient(90deg, rgba(106,44,112,1) 13%, rgba(184,33,51,1) 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .parentBox {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 90px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s, color 0.3s;
    background: #f0f0f0;
    color: black;
}

.parentBox:hover {
    background: #b3203a;
    color: white;
}

.parentBoxActive {
  background-color: #b3203a !important;
  color: white !important;
}
