#NavbarStyle:hover{
    scale:1.2;
    background: -webkit-linear-gradient(90deg, rgba(106,44,112,1) 13%, rgba(184,33,51,1) 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #b82133; 
    
   
}
#NavbarStyleH{
    color: darkgrey;
}
#NavbarStyleH:hover{
    scale:1.2;
    color:rgba(106,44,112,1) ;
}


   
